nav {
    position: fixed;
    width: 1024px;
    top: 24px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 300;
    padding: 16px 32px;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 50px;
}

nav ul li a,
a.logo {
    color: #ffff;
    font-weight: 800;
    font-size: 16px;
}

a.logo .red {
    color: #cc3e3e;
}

.menu-icon {
    display: none;
}

/* Tablet version */

@media (max-width: 1040px) {
    nav {
        width: 694px;
    }
}

/* Smart version */

@media (max-width: 720px) {
    nav ul {
        display: none;
    }
    nav {
        width: unset;
        left: 32px;
        right: 32px;
        top: 16px;
    }

    nav .menu-icon {
        display: block;
    }
}