#topics .topic-image img {
    width: 550px;
    object-fit: cover;
}
 #topics .topics-list {
     list-style: none;
     margin: 0;
     padding: 0;
     margin-left: 24px;
}

#topics .topics-list li {
    font-family: "Alegreya";
    font-weight: 400;
    font-size: 20px;
    margin: 24px 0;

}