:root {
  --dark-color: #181E1E;
  --red-color: #E63946;
  --pink-color: #FF6864;
  --yellow-color: #FFCA28;
  }

  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: "Inter", sans-serif;
  }

  /* section */

  section {
    padding: 80px 0;
    color: white;
  }

  section h2 {
   font-weight: 800; 
   font-size: 40px;
   line-height: 48px;
  }

  .black {
    background-color: #181E1E;
  }

  .dark-gray {
    background: var(--dark-color);
  }