:root {
  --dark-color: #181E1E;
  --red-color: #E63946;
  --pink-color: #FF6864;
  --yellow-color: #FFCA28;
  }

  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: "Inter", sans-serif;
  }

  .wrapper {
    max-width: 1024px;
    margin: 0 auto;
  }

  a {
    text-decoration: none;
  }

  header .cta h1 {
    font-family: "Alegreya";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 140%;
    color: #ffffff;
  }

  header .cta .demo-btn {
    border-radius: 10px;
    background: var(--red-color) ;
    color:#ffffff;
    padding: 10px 32px;
  }