:root {
  --dark-color: #181E1E;
  --red-color: #E63946;
  --pink-color: #FF6864;
  --yellow-color: #FFCA28;
  }

  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: "Inter", sans-serif;
  }

  